<app-navbar></app-navbar>
<app-banner></app-banner>

<section class="pt-4">
  <div class="container px-lg-5">
    <div *ngIf="currentSelectedCard" class="alert alert-primary" role="alert">
      You selected {{currentSelectedCard.header}}
    </div>
    <div class="row gx-lg-5">
      <!-- directive -->
      <!-- structural--changing the structure of the DOM -->
      <div *ngFor="let cardItem of cards" class="col-lg-6 col-xxl-4 mb-5">
          <!-- here $event is a reserved keyword to get data from the child passed to its parent -->
        <app-card (onCardSelect) ="handleCardSelect($event)" [card]="cardItem"></app-card>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
