<app-navbar></app-navbar>
<app-banner></app-banner>
<section class="pt-4">
  <div class="container px-lg-5">
    <!-- Page Features-->
    <div class="row gx-lg-5">
      <!-- item 1 -->
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card">
          <img src="https://i.dummyjson.com/data/products/1/thumbnail.jpg" class="card-img-top" alt="image1">
          <div class="card-body">
            <h5 class="card-title">iPhone 9</h5>
            <p class="card-text">An apple mobile which is nothing like apple
            </p>
            <a href="#" class="btn btn-dark">More Info</a>
            <button class="ms-3 btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
      <!-- item 1 ends-->

    </div>
  </div>
</section>
<app-footer></app-footer>
